.center-task{
    position: relative;
    width:900px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    top:50px;
    border: 1px solid red;;
}

.list-data{
    position: relative;
    margin: auto;
    width:700px;
    background-color: black;
    border: 0.2px solid red;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

i{
 margin-right: 10px;
}