<div class="center-task">
<i class="fa-solid fa-earth-asia fa-2xl" style="color: #ffffff;"></i>
<span>Global Tasks</span>
<br>
<div class="list-data" *ngIf="taskdata?.length">
    <ol>
        <li *ngFor="let task of taskdata | taskfilter:'global'">{{task.text }}

            
        </li>
        
    </ol>
</div>

<i class="fa-solid fa-person fa-2xl" style="color: #ffffff;"></i>
<span>Personal Tasks</span>
<br>
<div class="list-data" *ngIf="taskdata?.length">
    <ol>
        <li *ngFor="let task of taskdata | taskfilter:'personal'">{{task.text }}
        </li>
        
    </ol>
</div>
<i class="fa-solid fa-chess-king fa-2xl" style="color: #ffffff;"></i>
<span>Leader's Tasks</span>
<br>
<div class="list-data" *ngIf="taskdata?.length">
    <ol>
        <li *ngFor="let task of taskdata | taskfilter:'leader'">{{task.text }}
   
        </li>
        
    </ol>
</div>



</div>
